@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }
}

@layer base {
  * {
    @apply border-secondary;
  }
  body {
    @apply bg-secondary-600 text-neutral-100;
  }
}

@layer utilities {
  .primary-button {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #2a173f, #3b2553, #4d3368);
  }

  .primary-button:hover {
    background-position: 100% 50%;
    box-shadow: 0 0 8px 0 #4d3368;
  }

  .secondary-button {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #171717, #262626, #2c2c2c);
  }

  .secondary-button:hover {
    background-position: 100% 50%;
    box-shadow: 0 0 8px 0 #2c2c2c;
  }

  .text-with-gradient {
    @apply inline-block bg-clip-text text-transparent;
  }

  .fade-image {
    -webkit-mask-image: -webkit-gradient(
      linear,
      right center,
      left center,
      from(rgba(0, 0, 0, 100)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 100), rgba(0, 0, 0, 0));
  }
}
